body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

header {
    width: 100%;
    padding: 12px 40px; /* un poco más pequeño que antes */
    display: flex;
    align-items: center;
    justify-content: space-between; /* logo a la izquierda, botón a la derecha */
    background: #667eea;
    box-sizing: border-box;
}

header .logo {
    height: 40px;
    display: block;
}

/* Botón atrás */
header button {
    background: #ff416c;
    border: none;
    padding: 8px 16px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

header button:hover {
    transform: scale(1.05);
    transition: 0.3s;
}


.login-container {
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.login-container label {
    display: block;
    margin-top: 15px;
    text-align: left;
    font-weight: bold;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-container button#btnAceptar {
    margin-top: 20px;
    width: 100%;
    background: #1fa2ff;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.login-container button#btnAceptar:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

.error {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}

.logo {
    height: 40px;
    margin-right: 15px;
}
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-header h2 {
    flex-grow: 1; /* para que el título se mantenga centrado */
}
